<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720642444819-0uhie4otvf7mg3s5hd0a0v87qtugnnhn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720642444819-0uhie4otvf7mg3s5hd0a0v87qtugnnhn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>720642444819-e06d6sdpiccgfa2nu5rcmgonp2vakc0r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDm7Z9CNg_dJTvhuBumStk8hmYATGC6ZDA</string>
	<key>GCM_SENDER_ID</key>
	<string>720642444819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gudtech.gudpet</string>
	<key>PROJECT_ID</key>
	<string>adoptionapp-8a76d</string>
	<key>STORAGE_BUCKET</key>
	<string>adoptionapp-8a76d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720642444819:ios:2faa174b1e1755345839e6</string>
	<key>DATABASE_URL</key>
	<string>https://adoptionapp-8a76d.firebaseio.com</string>
</dict>
</plist>