<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>No se utiliza por el momento</string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GudPets</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.720642444819-10utlbtkes830jg3dq5volad1f83vd0g</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>Seleccionar fecha de nacimiento al momento del registro</string>
	<key>NSCameraUsageDescription</key>
	<string>Cambiar tu foto de perfil, subir imagenes a tu galeria y llenar los formularios de la aplicación</string>
	<key>NSContactsUsageDescription</key>
	<string>No se utiliza por el momento</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Conocer la ubicación de los hechos, para llenar los formularios de emergencias, rescates y perdidos</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Conocer la ubicación de los hechos, para llenar los formularios de emergencias, rescates y perdidos</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Grabar audio y video</string>
	<key>NSMotionUsageDescription</key>
	<string>No se utiliza por el momento</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Cambiar tu foto de perfil, subir imagenes a tu galeria y llenar los formularios de la aplicación</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>No se utiliza por el momento</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>kTCCServiceMediaLibrary</key>
	<string>No se utiliza por el momento</string>
</dict>
</plist>
